#root {
  width: 100vw;
}

.navbar-item {
  height: 30px;
  display: flex;
  align-items: center;
  color: white;
  gap: 2.5rem;
  padding: 1rem;
  transition: background-color 0.3s;
}
.navbar-link {
  color: white;
  text-decoration: none;
  opacity: 0.9;
}

.navbar-link:hover {
  opacity: 1;
}

.navbar-link.active {
  color: white;
  opacity: 1;
}

.navbar-item:hover {
  background-color: black;
}

.navbar-item-value {
  background-color: red;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  margin-left: 0.5rem;
}
.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid lightgrey;
  padding: 20px 60px;
}

.chart {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
}

.inner-circle {
  width: 150px;
  height: 150px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.legend {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.legend-item {
  display: flex;
  align-items: center;
  margin: 5px 10px;
}

.color-box {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 50%;
}
